{% extends sonata_block.templates.block_base %}

{% block block %}
    <h2>{{ settings.title }}</h2>
    <p>This block displays a list of messages based on this <a href="{{ settings.url }}" title="Url rss block">rss feed</a>.</p>

    <div class="feed-container">
        {% for item in items %}
            <ul>
                <li>
                    <a class="item-link" href="{{ item.link}}" rel="nofollow" title="{{ item.title }}">{{ item.title }}</a>
                    (<span class="item-pubdate">{{ item.pubDate | date('Y-m-d')  }}</span>)
                </li>
            </ul>
        {% else %}
                No feeds available.
        {% endfor %}
    </div>
{% endblock %}
