{% extends 'SymfonyCmfBlockBundle:Block:block_base.html.twig' %}

{% block block %}
    {% if block.linkUrl is defined %}
        <a href="{{ block.linkUrl }}" title="{{ block.label|default('') }}">
    {% endif %}
        <span id="label">{{ block.label }}</span><img src="{{ block.image | imagine_filter('symfony_cmf_block') }}" alt="{{ block.label }}" />
    {% if block.linkUrl is defined %}
        </a>
    {% endif %}
{% endblock %}
